@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Gilroy;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; (активировать при подключении шрифта) */
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  color: #333;
}

.header__background {
  position: absolute;
  width: 1920px;
  height: 161px;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
}

.header__logo {
  position: absolute;
  left: 390px;
  top: 13px;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #E1E1E1;
}

.header__line {
  position: absolute;
  width: 2px;
  height: 40px;
  left: 557px;
  top: 36px;
  background: #D8D8D8;
  border: 1px solid #89AFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__text {
  position: absolute;
  width: 193px;
  height: 86px;
  left: 582px;
  top: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5D5D5D;
}

.header__whatsapp {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 847px;
  top: 35px;
  border-radius: 50%;
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.header__whatsapp-logo {
  position: absolute;
  left: 13px;
  top: 12px;
}

.header__viber {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 908px;
  top: 35px;
  border-radius: 50%;
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.header__viber-logo {
  position: absolute;
  left: 12px;
  top: 12px;
}

.header__telegram {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 969px;
  top: 34px;
  border-radius: 50%;
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.header__telegram-logo {
  position: absolute;
  left: 12px;
  top: 15px;
}

.header__calc-logo {
  position: absolute;
  left: 1116px;
  top: 33px;
}

.header__calc-text {
  position: absolute;
  left: 1141px;
  top: 29px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.header__mail-logo {
  position: absolute;
  left: 1144px;
  top: 62px;
}

.header__mail-text {
  position: absolute;
  left: 1166px;
  top: 57px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  color: #333333;
}

.header__button {
  position: absolute;
  display: inline-block;
  width: 195px;
  height: 44px;
  left: 1335px;
  top: 31px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
}

.header__button-text {
  position: absolute;
  width: 195px;
  height: 21px;
  top: 11px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.header__kurs {
  position: absolute;
  left: 390px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__attestat {
  position: absolute;
  left: 494px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__armor {
  position: absolute;
  left: 651px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__fire {
  position: absolute;
  left: 823px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__svidetel {
  position: absolute;
  left: 1096px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__prava {
  position: absolute;
  left: 1342px;
  top: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.title {
  position: absolute;
  width: 541px;
  height: 68px;
  left: 389px;
  top: 186px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7d7d7d;
}

.title span {
  color: #86AFEF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.banner {
  color: #333;
}

._no-webp .banner__background{
  background: url("../img/background_banner.png"); }

.banner__background {
  position: absolute;
  width: 1140px;
  height: 376px;
  left: 390px;
  top: 235px;
}

.banner__text-1 {
  position: absolute;
  width: 263px;
  height: 100px;
  left: 390px;
  top: 274px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.banner__text-2 {
  position: absolute;
  width: 263px;
  height: 100px;
  left: 389px;
  top: 298px;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #87B0EE;
}

.banner__line {
  position: absolute;
  width: 128px;
  height: 2px;
  left: 457px;
  top: 348px;
  background: #87B0EE;
}

.banner__text-3 {
  position: absolute;
  width: 263px;
  height: 17px;
  left: 389px;
  top: 375px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.banner__text-3 span {
  font-weight: bold;
}

.banner__text-4 {
  position: absolute;
  width: 157px;
  height: 74px;
  left: 443px;
  top: 410px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.banner__text-4 span {
  font-weight: bold;
}

.banner__button {
  position: absolute;
  display: inline-block;
  width: 188px;
  height: 50px;
  left: 427px;
  top: 507px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
}

.banner__button-text {
  position: absolute;
  width: 188px;
  height: 17px;
  top: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.banner__atest {
  position: absolute;
  width: 659px;
  height: 262px;
  left: 693px;
  top: 301px;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
}

.banner__text-5 {
  position: absolute;
  width: 488px;
  height: 165px;
  left: 693px;
  top: 420px;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #333333;
}

._no-webp .banner__document{
  background: url("../img/document.png"); }

.banner__document {
  position: absolute;
  width: 381px;
  height: 254px;
  left: 1132px;
  top: 261px;
  -webkit-filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.258332));
          filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.258332));
}

.text {
  color: #333333;
}

.text__text-1 {
  position: absolute;
  width: 1142px;
  height: 68px;
  left: 389px;
  top: 643px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.text__text-2 {
  position: absolute;
  width: 881px;
  height: 38px;
  left: 391px;
  top: 719px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.text__text-3 {
  position: absolute;
  width: 1142px;
  height: 90px;
  left: 389px;
  top: 762px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.text__text-4 {
  position: absolute;
  width: 1142px;
  height: 26px;
  left: 391px;
  top: 877px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

.text__text-5 {
  position: absolute;
  left: 449px;
  top: 918px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.text__text-5 li {
  padding: 0px 15px 15px 0px;
}

.text__text-5 li::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0px 14px 0px 0px;
  border-radius: 50%;
  background: #87B0EE;
}

.advantages {
  color: #333;
}

.advantages__background {
  position: absolute;
  width: 1920px;
  height: 480px;
  left: 0px;
  top: 1105px;
  background: #F6F6F6;
}

.advantages__title-1 {
  position: absolute;
  width: 1141px;
  height: 68px;
  left: 392px;
  top: 1151px;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}

.advantages__circle-1 {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 460px;
  top: 1249px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

._no-webp .advantages__file{
  background: url("../img/file.png"); }

.advantages__file {
  position: absolute;
  width: 37px;
  height: 48px;
  left: 491px;
  top: 1274px;
}

.advantages__circle-2 {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 753px;
  top: 1249px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

._no-webp .advantages__star{
  background: url("../img/star.png"); }

.advantages__star {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 777px;
  top: 1272px;
}

.advantages__circle-3 {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 1045px;
  top: 1249px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

._no-webp .advantages__gramota{
  background: url("../img/gramota.png"); }

.advantages__gramota {
  position: absolute;
  width: 37px;
  height: 55px;
  left: 1076px;
  top: 1271px;
}

.advantages__circle-4 {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 1336px;
  top: 1249px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

._no-webp .advantages__truck{
  background: url("../img/truck.png"); }

.advantages__truck {
  position: absolute;
  width: 58px;
  height: 28px;
  left: 1355px;
  top: 1284px;
}

.advantages__title-2 {
  position: absolute;
  width: 262px;
  height: 37px;
  left: 378px;
  top: 1362px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.advantages__title-3 {
  position: absolute;
  width: 162px;
  height: 64px;
  left: 720px;
  top: 1362px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.advantages__title-4 {
  position: absolute;
  width: 262px;
  height: 55px;
  left: 963px;
  top: 1362px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.advantages__title-5 {
  position: absolute;
  width: 262px;
  height: 144px;
  left: 1253px;
  top: 1362px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.advantages__text-1 {
  position: absolute;
  width: 209px;
  height: 90px;
  left: 407px;
  top: 1399px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.advantages__text-2 {
  position: absolute;
  width: 209px;
  height: 90px;
  left: 697px;
  top: 1424px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.advantages__text-3 {
  position: absolute;
  width: 209px;
  height: 90px;
  left: 990px;
  top: 1424px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.advantages__text-4 {
  position: absolute;
  width: 209px;
  height: 90px;
  left: 1280px;
  top: 1451px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.form {
  color: #516C9A;
}

._no-webp .form__background{
  background: url("../img/background_form.jpg"); }

.form__background {
  position: absolute;
  width: 1920px;
  height: 513px;
  left: 0px;
  top: 1585px;
}

.form__title {
  position: absolute;
  width: 948px;
  height: 177px;
  left: 391px;
  top: 1643px;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}

.footer {
  color: #FFF;
}

.footer__background {
  position: absolute;
  width: 1920px;
  height: 689px;
  left: 0px;
  top: 2098px;
  background: #333333;
  border: 1px solid #979797;
}

.footer__title-1 {
  position: absolute;
  width: 469px;
  height: 29px;
  left: 390px;
  top: 2154px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.footer__text-1 {
  position: absolute;
  width: 359px;
  height: 490px;
  left: 391px;
  top: 2210px;
  line-height: 14px;
  margin: 12px 0px 0px 0px;
}

.footer__text-1 p {
  margin: 15px 0px 0px 0px;
}

.footer__title-2 {
  position: absolute;
  width: 469px;
  height: 29px;
  left: 780px;
  top: 2154px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.footer__text-2 {
  position: absolute;
  width: 359px;
  height: 490px;
  left: 781px;
  top: 2210px;
  line-height: 14px;
  margin: 12px 0px 0px 0px;
}

.footer__text-2 p {
  margin: 15px 0px 0px 0px;
}

.footer__title-3 {
  position: absolute;
  width: 469px;
  height: 29px;
  left: 1170px;
  top: 2154px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.footer__telegram-icon {
  position: absolute;
  left: 1171px;
  top: 2211px;
}

.footer__telegram-text {
  position: absolute;
  left: 1205px;
  top: 2210px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.footer__viber-icon {
  position: absolute;
  left: 1171px;
  top: 2250px;
}

.footer__viber-text {
  position: absolute;
  left: 1205px;
  top: 2250px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.footer__whatsapp-icon {
  position: absolute;
  left: 1171px;
  top: 2291px;
}

.footer__whatsapp-text {
  position: absolute;
  left: 1205px;
  top: 2291px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.footer__calc-icon {
  position: absolute;
  left: 1171px;
  top: 2350px;
}

.footer__calc-text {
  position: absolute;
  left: 1205px;
  top: 2350px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
}

.footer__mail-icon {
  position: absolute;
  left: 1171px;
  top: 2393px;
}

.footer__mail-text {
  position: absolute;
  left: 1205px;
  top: 2391px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.footer__button {
  position: absolute;
  display: inline-block;
  width: 262px;
  height: 50px;
  left: 1170px;
  top: 2459px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
          box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  border-radius: 3px;
}

.footer__button-text {
  position: absolute;
  width: 264px;
  height: 21px;
  top: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFF;
}

.footer__logo {
  position: absolute;
  left: 1169px;
  top: 2561px;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
}

.footer__line {
  position: absolute;
  width: 1920px;
  height: 2px;
  top: 2730px;
  border: 1px solid #4E4E4E;
}

.footer__copy {
  position: absolute;
  width: 1171px;
  left: 375px;
  top: 2752px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #565656;
}

._webp .banner__background{ background: url(../img/background_banner.webp); }

._webp .banner__document{ background: url(../img/document.webp); }

._webp .advantages__file{ background: url(../img/file.webp); }

._webp .advantages__star{ background: url(../img/star.webp); }

._webp .advantages__gramota{ background: url(../img/gramota.webp); }

._webp .advantages__truck{ background: url(../img/truck.webp); }

._webp .form__background{ background: url(../img/background_form.webp); }